<div class="w-full bg-teal-500 p-2">
    <nav class="text-white">
        <div class="flex px-4 py-2">
            <div class="flex-shrink-0">
                <h1
                    class="pt-1 md:pt-0 text-2xl md:text-3xl font-bold leading-tight tracking-tight text-shadow focus:outline-none cursor-pointer">
                    <a [routerLink]="'/home'">Angular App</a>
                </h1>
            </div>
            <div class="hidden md:inline flex-grow mt-2 ml-8">
                <ul class="flex text-lg md:text-xl">
                    <li class="mx-4">
                        <a [routerLink]="['/home']" class="
                  px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                  hover:bg-teal-900 focus:outline-none focus:bg-teal-900
                  ">
                            home
                        </a>
                    </li>
                    <li class="mx-4 px-2">
                        <a [routerLink]="['/product-list']" class="
                  px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                  hover:bg-teal-900 focus:outline-none focus:bg-teal-900
                  ">
                            Products
                        </a>
                    </li>
                </ul>
            </div>

            <div class="hidden md:inline flex-grow-1 justify-end mt-2 ml-8" *ngIf="!isAuthenticated">
                <button class="text-white mx-2" [routerLink]="'/login'">
                    <fa-icon [icon]="faRightToBracket" [style]="{'font-size':'1.6rem'}"></fa-icon>
                </button>
            </div>

            <div class="hidden md:inline flex-grow-1 justify-end"
                *ngIf="isAuthenticated && (userRole=='ROLE_ADMIN' || userRole=='ROLE_SUPERADMIN')">
                <a class="px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                hover:bg-teal-900 focus:outline-none focus:bg-teal-900" routerLink="manage">Manage</a>
            </div>

            <div class="hidden md:inline flex-grow-1 justify-end mx-4 px-2" *ngIf="isAuthenticated">
                <button type="button">
                    <fa-icon [icon]="faUser" [style]="{'font-size':'1.6rem'}" routerLink="user-profile"></fa-icon>
                </button>
            </div>

            <div class="-mr-2 flex flex-grow justify-end lg:hidden">
                <button (click)="toggleHamburger()" class="
              inline-flex items-center justify-center p-2 rounded-md text-gray-400
              hover:text-white hover:bg-slate-700 focus:outline-none focus:bg-slate-700
              focus:text-white active:text-white active:bg-slate-900
              ">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path [ngClass]="{'hidden': hamburgerOpen, 'inline-flex': !hamburgerOpen }" class="inline-flex"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                        <path [ngClass]="{'hidden': !hamburgerOpen, 'inline-flex': hamburgerOpen }" class="hidden"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
        <div [hidden]="!hamburgerOpen" class="pb-2">
            <ul class="text-lg md:text-xl">
                <li class="mx-4">
                    <a routerLink="/" class="
                px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                hover:bg-slate-900 focus:outline-none focus:bg-slate-900
                ">
                        Home
                    </a>
                </li>
                <li class="mx-4">
                    <a routerLink="contact" class="
                px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                hover:bg-slate-700 focus:outline-none focus:bg-slate-900
                ">
                        Contact
                    </a>
                </li>
                <li class="mx-4">
                    <a routerLink="user-profile" class="px-3 py-1 rounded-md text-shadow text-center cursor-pointer
                    hover:bg-slate-700 focus:outline-none focus:bg-slate-900">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
</div>