<section class="flex items-center h-screen dark:bg-zinc-900 dark:text-zinc-100">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
        <div class="max-w-md text-center">
            <h2 class="mb-8 font-extrabold text-9xl dark:text-zinc-600">
                <span class="sr-only">Welcome</span>
            </h2>
            <p class="text-2xl font-semibold md:text-3xl">This is a Dev Project using Springboot and Angular.</p>
            <p class="mt-4 mb-8 dark:text-zinc-400">Give it a try!</p>
            <!-- <p class="mt-4 mb-8 dark:text-zinc-200">@g1oV4n1</p> -->
            <p><img src="../../../../assets/signature.svg"></p>
        </div>
    </div>
</section>